html, body, ul, ol, li, form, p, dl, dt, dd, table, th, td, menu, pre, textarea, h2, h3,h1,h5,h4,h6{margin: 0;padding: 0}
body{background-color: #fff;font-family:microsoft yahei}
ul, li{list-style: none}
i{font-style: normal}
a{text-decoration: none}
.cl{*zoom: 1}
.cl:after{clear: both;content: '\20';display: block;height: 0;visibility: hidden}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
.fl{float:left}
.fr{float:right}
.ml30{margin-left:30px;}
.wrap{position: relative;float: none;width:1200px;margin: 0 auto}
.wrap1120{position: relative;float: none;width:1120px;margin: 0 auto}
.pt25{padding-top:25px;}
.mb80{margin-bottom: 80px !important;}
.nav{display: none;position: fixed;z-index: 6;top: 0;width: 100%;height: 30px;line-height: 30px;background-color: #E6E7E8;font-family: SimSun;font-size: 12px}
.body{clear: both;position: relative;padding-top: 128px;}
.top-bar{position: fixed;top:0;background:#f0f0f0;height:40px;width:100%;z-index: 1000;}
.top-bar .fl{font-size: 0}
.top-bar .fl span{font-size:14px;color:#909090;vertical-align: 15px;margin-left: 8px;}
.icon-where{display: inline-block;background: url(../img/index_icon_where.png) no-repeat 50% 50%;width:13px;height:40px;}
.top-tel{color:#fd9271;font-size:18px;vertical-align: baseline;line-height: 40px;}
.top-name{color:#909090;font-size: 14px;vertical-align: baseline;line-height: 40px;}


.head{height: 87px;position: fixed;width: 100%;min-width:1200px;top: 40px;left: 0;background:#fff;z-index: 99;border-bottom: 1px solid #ccc;}
.head-wrap{margin:0 auto;width:1300px;heigt:120px;background:#fff}
.head .logo{width: 30%;float: left;}
.head .menu{width: 70%;float: right;}
.head .logo a{display: block;width:207px;height: 87px;background: url(../img/logo.png) 0 -5px;}
.head .menu li{float: right;padding:0;margin:0;position:relative;}
.head .menu li a{color: #999;display: inline-block;line-height: 85px;text-decoration: none;cursor: pointer;font-size:14px;/* padding-bottom:8px; */}
.head .menu li a:hover{color: #4a4a4a;border-bottom:3px solid #fd9271}
.head .menu li{width:120px;height: 87px;text-align: center;font-size: 14px;}
.head .menu li.active{height: 65px;background: #fc6621;color: #fff}
.head .menu li.active a{color: #fff}
.head .menu li.active a:hover{color: #fff}


.recommend-title{padding-top:80px;padding-bottom:42px;}
.recommend-title h1{text-align: center;font-size:26px;color:#4a4a4a;margin-bottom: 20px;}
.recommend-title h5{text-align: center;font-size:16px;color:#ccc;font-weight: 400;}
.recommend-title {}
.recommend-box1{background:#f5f5f5;padding-bottom:48px;padding-top:48px;}
.recommend-box2{padding-top: 33px;}
.recommend-box2 .title{
    position: absolute;
    width: 100%;
    text-align: center;
    top: -64px;
}
.recommend-box2 .item2-block{
    margin-top:50px;
    margin-bottom: 33px;
}
.recommend-box2 .item3-block{
    margin-top: 55px;
    margin-bottom:50px;
}
.recommend-box2 .item4-block{
    margin-bottom:15px;
    padding-top: 3px;
}
.recommend-box2 .item5-block{
    margin-bottom:55px;
    position: relative;
}
.recommend-box2 .item5-block .pa{
    position: absolute;
    width: 366px;
    height:290px;
    left:50%;margin-left:-183px;bottom:5px;
    text-align: center;
}
.decpink{color:#fd9271;font-size: 26px;}
.sec-title{font-size: 26px;color: #333;text-align: center;margin-bottom: 25px;letter-spacing: 1px;}
.detail-info{font-size: 15px;font-weight: 800;color: #888;margin-top: 15px;margin-bottom: 30px;line-height: 21px;text-align: center;}
.recommend-item1{width:329px;height: 728px;padding-bottom: 20px;float: left;background:#fff;margin-right:10px;}
.recommend-item1 .img-box{width:329px;height:475px;background:url(../img/icon_phone.png) no-repeat 50% 50%;background-size: cover}
.recommend-item1 h4{
    color:#333333;
    font-size:16px;
    word-wrap: break-word;
    word-break: break-all;
    height: 54px;
    line-height: 27px;
    overflow: hidden;
    margin-top: 39px;
    margin-right: 40px;
    margin-bottom: 47px;
}
.recommend-item1 .recommend-money-box{margin-bottom: 26px;}
.recommend-item1 .recommend-dec-box{margin-left: 226px;}
.recommend-money-box .jia{font-size: 14px;color:#999}
.recommend-money-box .qian{font-family: simsun;font-size:22px;color:#f53d3d;font-weight: 800}
.recommend-money-box .yuan{font-size:14px;color:#999}
.recommend-dec-box{
    position: relative;
}
.recommend-dec-box .red{
    width: 47px;
    height: 47px;
    background:#f53d3d;
    position: absolute;
    z-index:12;
    color:#fff;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
}
.recommend-dec-box .gray{
    width: 47px;
    height: 47px;
    background: #e3e2e2;
    position: absolute;
    z-index: 12;
    top:5px;
    left:5px;
}
.recommend-item2,.recommend-item3,.recommend-item4{background:#fff;position: relative;padding-bottom: 20px;}
.recommend-item2 .recommend-dec-box{
    position: absolute;
    top: 325px;
    right:72px;
}
.recommend-item3 .recommend-dec-box{
    position: absolute;
    top: 254px;
    right:72px;
}
.recommend-item4 .recommend-dec-box{
    position: absolute;
    top: 254px;
    right:72px;
}
.recommend-item2{margin-bottom: 20px;}
.recommend-item2 h4{margin-left:23px;margin-bottom: 5px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 600px;}
.recommend-item3 h4,.recommend-item4 h4{margin-left:23px;margin-bottom:3px;white-space: nowrap;display: inline-block;overflow: hidden;text-overflow: ellipsis;width: 600px;}
.recommend-item2 .recommend-money-box,.recommend-item3 .recommend-money-box,.recommend-item4 .recommend-money-box{margin-left:23px;}
.recommend-item3{margin-right:20px;width:520px;}
.recommend-item2 .img-box{height:301px;width:850px;margin-bottom:26px;background-repeat:no-repeat;background-position: 50% 50%;background-size: cover}
.recommend-item3 .img-box{height:233px;width:520px;background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;margin-bottom: 20px;}
.recommend-item4{width:310px;}
.recommend-item4 .img-box{height:233px;width:310px;background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;margin-bottom: 20px;}


.recommend-box3{background:#f5f5f5;padding-bottom:38px;padding-top:52px;}

.tag-box{width:352px;font-size: 0;margin: 33px auto 10px;}
.tag-span{display: inline-block;width:93px;height:40px;line-height:40px;text-align: center;border: 1px solid #fd9271;color:#fd9271;margin-left:10px;margin-right:10px;font-size: 14px;}
.more-box{display:block;width: 260px;height:50px;border: 1px solid #dddfde;margin:0 auto;color: #6e6e6e;line-height:50px;text-align: center;background:#fff;cursor:pointer}
.index-boxes2{
    margin-bottom: 50px;
}
.index-banner-box{
    height: 730px;
    width:100%;
    background:url(../img/index1_bg.jpg) no-repeat #ebecf0 0 0;
}
.index-banner-box h3{
    color:#fff;
    font-weight: 400;
    font-size: 18px;
}
.banner-tips-box{
    padding: 25px 20px;
    width:310px;
    height: 456px;
    background:rgba(0,0,0,0.4);
}
.banner-numbox{
    font-size: 0;
    margin: 25px auto;
}
.banner-numbox li{
    display: inline-block;
    font-size: 30px;
    width: 49px;
    height: 74px;
    color:#fd9271;
    line-height:74px;
    text-align: center;
    background: #fff;
    border-radius:5px;
    margin-right:2px;
}
.inbox-form{margin-top:20px;margin-bottom:20px;border-top:1px solid #99999a;padding-top: 25px;}
.city-select{margin-left:16px;font-family: microsoft yahei;width:275px;height: 45px;font-size: 16px;line-height: 45px;vertical-align:0px;text-align: right;border: 0;border-radius:1px;color:#333;padding:0px 35px 0px 10px;padding:5px 4px 5px 10px \0;padding:5px 10px 5px 10px \9;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../img/index_icon_down.png) 95% 50% no-repeat #fff;background-image:none \0;background-image:none \9;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transition:border-color ease-in-out .15s;-o-transition:border-color ease-in-out .15s;transition:border-color ease-in-out .15s;border-radius:4px;}
.type-select{margin-left:16px;margin-top:15px;font-family: microsoft yahei;width:275px;height: 45px;font-size: 16px;line-height: 45px;vertical-align:0px;text-align: right;border: 0;border-radius:1px;color:#333;padding:0px 35px 0px 10px;padding:5px 4px 5px 10px \0;padding:5px 10px 5px 10px \9;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../img/index_icon_down.png) 95% 50% no-repeat #fff;background-image:none \0;background-image:none \9;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transition:border-color ease-in-out .15s;-o-transition:border-color ease-in-out .15s;transition:border-color ease-in-out .15s;border-radius:4px;}
.tel-input{margin-left:16px;margin-top:15px;margin-bottom:32px;font-family: microsoft yahei;outline:0;width:275px;height:43px;font-size: 16px;line-height: 43px;vertical-align:0px;border-radius:4px;border: 0;text-indent: 11px;}
.index-submit{
    margin-left:16px;
    font-family: microsoft yahei;
    width:275px;
    outline:0;
    height: 39px;
    font-size: 14px;
    line-height: 0;
    vertical-align: top;
    border-radius:4px;
    border: 0;
    color: #fff;
    background:url(../img/button_right.jpg);
    text-align: center;
    display: block;
    padding-bottom: 3px;
    cursor: pointer;
}



.footer{width: 100%;min-width: 1200px;background: #1f1f1f;padding-top: 20px;padding-bottom: 20px;}
.footer .wrap{width:1200px;margin:0 auto;}
.footer .box1 .title{
    display:block;
    width:72px;
    height:26px;
    color: #fff;
    line-height: 26px;
    background: #384144;
    text-align: center;
    font-size: 14px;
}
.footer .link-box{margin-top: 8px;padding-bottom: 8px;border-bottom: 1px solid #323232;}
.footer .link-box li{float: left}
.footer .link-box li a{color:#525252;font-size:12px;margin-right: 8px;line-height: 30px;}
.footer .link-box li a:hover{color:#fff}


.footer .box2 .fl{width:50%;float: left}
.footer .share-list{display:block;font-size: 0;margin:25px 0 20px;}
.footer .share-list li{margin-right:25px;width:41px;height: 40px;display: inline-block;}
.footer .share-list li a{display:block;width:100%;height:100%;background-image:url(../img/gray_icon.jpg)}
.footer .share-list li a.weixin{background-position:0px 0px;}
.footer .share-list li a.pengyou{background-position: -41px -40px;}
.footer .share-list li a.weibo{background-position: -82px -81px;}


.footer .server-box{color:#525252;font-size:14px;margin-right:8px;line-height: 30px;}
.footer .server-box span{color:#fd9271;font-size:35px;letter-spacing:1px;}
.footer #beian{color:#525252;font-size:12px;margin-right:8px;line-height: 30px;}

.footer .box2 .fr{width:50%;float:right;text-align:right}
.footer #erweima{display:table;text-align: center;float: right;margin-top: 15px;}
.wx-erweima{display:table-cell;width: 120px;      height: 148px;padding-right: 25px;}
.wap-erweima{display:table-cell;width: 120px;height: 148px;}
.footer #erweima .wx-erweima div,.footer #erweima .wap-erweima div{width:120px;height:120px;}
.footer #erweima .wx-erweima div{background-image:url(../img/erweima1.jpg)}
.footer #erweima .wap-erweima div{background-image:url(../img/erweima2.jpg)}
.footer #erweima p{color: #d4d4d4;font-size: 14px;line-height: 28px;}

.apply-bg1{height: 608px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/apply_bg.jpg);width:100%;background-color: #f8f7f5}
.apply-bg2{height:655px;width:100%;background-color: #fff}
.apply-bg2 .wrap{
    width:909px;
    padding-top:90px;
    padding-bottom:30px;
}
.apply-bg2 .wrap .info-show{
    float: left;
    width:210px;
    height:225px;
    margin-bottom: 50px;
    margin-right: 170px;
}
.apply-bg2 .wrap .info-show.mr0{
    margin-right:0;
}
.apply-bg2 .wrap .info-show{
    float: left;
    width:210px;
    height:225px;
    margin-bottom: 50px;
    margin-right: 139px;
}
.apply-bg2 .wrap .info-show .icon{
    width:120px;
    height:120px;
    margin:0 auto 10px;
}
.apply-bg2 .wrap .info-show .icon.icon1{
    background-image:url(../img/targert_icon01.png);
}
.apply-bg2 .wrap .info-show .icon.icon2{
    background-image:url(../img/targert_icon02.png);
}
.apply-bg2 .wrap .info-show .icon.icon3{
    background-image:url(../img/targert_icon03.png);
}
.apply-bg2 .wrap .info-show .icon.icon4{
    background-image:url(../img/targert_icon04.png);
}
.apply-bg2 .wrap .info-show .icon.icon5{
    background-image:url(../img/targert_icon05.png);
}
.apply-bg2 .wrap .info-show .icon.icon6{
    background-image:url(../img/targert_icon06.png);
}
.apply-bg2 .wrap .info-show h3{text-align:center;margin-bottom:13px;font-size: 20px;color: #4a4a4a
}
.apply-bg2 .wrap .info-show p{text-align:center;line-height:26px;font-size:14px;color: #4a4a4a
}
.apply-box{background:#ffd376;padding-top:42px;padding-bottom:44px;}
.apply-box .wrap{width:1000px;}
.apply-box h1{text-align:center;font-size:26px;color:#886c37;margin-bottom:40px;}
.apply-input-box{
    padding:22px ;
    background:#fff;
    margin-bottom:10px;
}
.apply-input-line1{margin-bottom:10px;font-size:0;}
.apply-input-line2{font-size:0}
.apply-input-line3{margin-bottom:10px;font-size:0;border-bottom:1px solid #ccc;}
.apply-input-line4{font-size:0}
.apply-tc{text-align:center;padding-top:25px;}
.apply-submit{box-shadow: 0px 1px 4px rgba(97,97,97,0.5);width: 250px;height:60px;line-height:60px;color:#4a4a4a;font-weight:600;font-size:16px;letter-spacing:-1px;background:#fff;border:0;font-family:"microsoft yahei";outline: 0;cursor: pointer;}


.zk-input-box1 dd,.zk-input-box4 dd,.zk-input-box2 dd,.zk-input-box3 dd{
    margin: 0;
    -webkit-margin-start: 0;
}
.zk-input-box1{display:inline-block;width: 138px;padding: 9px 10px 9px 64px;background:#f0f0f0;margin-right:20px;}
.zk-input-box1 dt{margin-left: -55px;float:left;font-size:16px;color: #4a4a4a;letter-spacing: -1px;}
.zk-input-box1.mr0{margin-right:0;}
.zk-input-box2{display:inline-block;width: 103px;padding: 9px 10px 9px 59px;background:#f0f0f0;margin-right:20px;}
.zk-input-box2 dt{margin-left: -47px;float:left;font-size:16px;color: #4a4a4a;letter-spacing: -1px;}

.zk-input-box3{display:inline-block;width: 230px;padding: 9px 10px 9px 59px;background:#f0f0f0;margin-right:20px;}
.zk-input-box3 dt{margin-left: -47px;float:left;font-size:16px;color: #4a4a4a;letter-spacing: -1px;}

.zk-input-box4{display:inline-block;width: 848px;padding: 9px 10px 9px 98px;background:#f0f0f0}
.zk-input-box4 dt{margin-left: -89px;float:left;font-size:16px;color: #4a4a4a;letter-spacing: -1px;}


.zk-input-dec{border:0;height: 23px;line-height: 23px;padding: 0;margin: 0;-webkit-appearance: none;width: 100%;background: #f0f0f0;outline: none;font-family: microsoft yahei;}

.zk-input-select{font-family: microsoft yahei;width: 103px;height: 19px;font-size: 16px;line-height: 19px;vertical-align:0px;text-align: right;border: 0;border-radius:1px;color:#333;padding:0px 35px 0px 10px;padding:5px 4px 5px 10px \0;padding:5px 10px 5px 10px \9;-webkit-appearance:none;-moz-appearance:none;appearance:none;background: url(../img/index_icon_down.png) 95% 50% no-repeat #f0f0f0;background-image:none \0;background-image:none \9;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transition:border-color ease-in-out .15s;-o-transition:border-color ease-in-out .15s;transition:border-color ease-in-out .15s;border-radius:4px;}

.apply-input-box .htitle{font-size:14px;color: #4a4a4a;text-align:left;}
.apply-input-box .htitle.mt20{margin-top:20px;}
.apply-input-box .htitle span{font-size:14px;color: #b4b4b4;text-align:left;font-weight:400}
.apply-worker-list{font-size:0;margin-top:22px;margin-bottom:20px;}
.apply-worker-list li{display: inline-block;font-size: 16px;cursor:pointer;margin-right:60px;background:#f0f0f0;padding:0 46px;line-height:40px;color:#4a4a4a}
.apply-worker-list li.active{background:#fd9271;color:#fff;}
.apply-worker-tips{text-align:center;font-size:14px;color: #999;padding-top:16px;margin-bottom: 5px;font-weight:400}

.upload-pic-table{width:100%;height:281px;border-collapse:collapse;border:0;table-layout:fixed}
.upload-pic-table tr{height:281px;}
.upload-pic-table tr td{width:418px;vertical-align: top;}
.upload-pic-table tr td.pipe{width:124px;}
.upload-pic-table tr td h3{font-size:14px;color: #4a4a4a;text-align:left;margin-bottom:23px;}
.upload-pic-table tr td .gray-box{width:417px;height:240px;background:#f0f0f0;text-align:center;position: relative;}
.upload-pic-table tr td  .file-pic-submit{display:inline-block;margin-top:164px;text-align:center;color:#fff;background:#fd9271;padding:0 25px;line-height:33px;height:33px;border:0;cursor:pointer;position: absolute;left: 50%;margin-left: -51px;z-index: 15;}
.change-bg{height:401px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/change_bg.jpg);width:100%;background-color: #f8f7f5}
.change-bg2{height:205px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/change_bg2.jpg);width:100%;background-color: #fff}

.repair-bg{height:401px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/repair_bg.jpg);width:100%;background-color: #f8f7f5}
.repair-banner-ul{margin:20px auto 25px;width:1200px;font-size:0}
.repair-banner-li{display: inline-block;margin-right:12px;background:#f5f5f5;padding:50px 17px 35px;}
.repair-banner-li:last-child{margin-right:0}
.repair-banner-li .fl{width: 150px;margin-right : 25px;}
.repair-banner-li h4{font-size:20px;color: #fd9271;margin-top: 14px;}
.repair-banner-li p{font-size:14px;color: #999;word-wrap: break-word;}
.repair-banner-li .fr{width:82px;}
.repair-banner-li .fr i{display:block;width:82px;height:80px;background-repeat: no-repeat;background-position: center center;}
.repair-banner-li .fr i.repair-banner-icon1{background-image:url(../img/repair_icon1.png)}
.repair-banner-li .fr i.repair-banner-icon2{background-image:url(../img/repair_icon2.png)}
.repair-banner-li .fr i.repair-banner-icon3{background-image:url(../img/repair_icon3.png)}
.repair-banner-li .fr i.repair-banner-icon4{background-image:url(../img/repair_icon4.png)}


.aboutus-bg1{min-width:1200px;margin:0 auto;height:360px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/aboutus_bg1.jpg);width:100%;background-color: #f8f7f5}
.aboutus-bg h2{padding-top: 80px;text-align:center;font-size: 26px;color:#4a4a4a;margin-bottom:108px;}
.aboutus-bg ul{width: 1000px;margin:0 auto;font-size:0}
.aboutus-bg ul li{width: 258px;margin-right: 112px;display: inline-block;}
.aboutus-bg ul li.mr0{margin-right:0px;}
.aboutus-bg ul li div{text-align:center;margin-bottom:41px;}
.aboutus-bg ul li h4{text-align:center;margin-bottom:15px;font-size: 20px;color: #4a4a4a}
.aboutus-bg ul li p{text-align:center;margin-bottom: 89px;font-size:16px;color: #777;line-height: 27px;}

.aboutus-bg2{min-width:1200px;margin:0 auto;height:681px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/aboutus_bg2.jpg);width:100%;background-color: #f5f5f5}
.aboutus-bg3{min-width:1200px;margin:0 auto;height:923px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/aboutus_bg3.jpg);width:100%;background-color: #fff}
.aboutus-bg4{min-width:1200px;margin:0 auto;height:493px;background-repeat: no-repeat;background-position: center center;background-image:url(../img/aboutus_bg4.jpg);width:100%;background-color: #f5f5f5}
.aboutus-btn{cursor:pointer;display:block;position:absolute;width: 243px;height: 79px;background:url(../img/aboutus_btn.jpg);right: 300px;top: 283px;}

.repair-box{background:#f5f5f5;padding-top:52px;padding-bottom:40px;}
.repair-box-head{width:1200px;font-size:0;margin:0px auto 25px;border-bottom:1px solid #ddd}
.repair-box-head .tag-tab{display: inline-block;font-size: 14px;width: 97px;height: 36px;line-height: 36px;color: #a7a7a7;background:#fff;text-align: center;border: 1px solid #ddd;margin-right: 30px;margin-bottom: 19px;cursor: pointer}
.repair-box-head .tag-tab.active{color:#fff;background-color: #fd5452;border:1px solid #fd5452}
.repair-box-body{padding-top:30px;width: 1200px;margin: 0 auto}
.repair-box-body li{float:left;margin-right: 24px;width: 280px;border: 1px solid #eef0ef;margin-bottom: 39px;cursor: pointer}
.repair-box-body li:nth-child(4n+4){margin-right:0;}

.repair-box-body li .max-pic{position:relative;width:280px;height: 280px;background-repeat: no-repeat;background-position: center bottom;background-size: cover;}
.repair-box-body li .max-pic-hover{display:none;position: absolute;top:0;left:0;background:rgba(0,0,0,0.5);width: 280px;height: 280px;}

.repair-box-body li:hover .max-pic-hover{display: block;}
.repair-box-body li .max-pic-hover .img-pos{text-align: center;margin-top:15px;}
.repair-box-body li .max-pic-hover p{color:#fff;font-size: 14px;text-align: center;width: 100%;line-height:20px;vertical-align:top;margin-bottom:10px;}
.repair-box-body li .entry{width: 122px;margin:0 auto;color:#fd9271;font-size: 16px;text-align: center;line-height: 30px;padding: 0 8px;border: 1px solid #eee;border-radius:4px;background: rgba(0,0,0,0.3);}

.repair-box-body li .erweima{position:absolute;bottom: 10px;right: 10px;width:46px;height: 46px;background-image:url(../img/repair_erweima_small.jpg);background-repeat: no-repeat;background-position: center bottom;background-size: cover;}
.repair-box-body li .info{background:#fff;font-weight:600;text-align: center;font-size:15px;color:#4a4a4a;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;padding:20px 8px;}



.bx-wrapper{min-width: 1200px;margin: 0 auto;overflow: hidden;}
.bx-wrapper li{width: 100%;height:550px;position: relative;background-repeat: no-repeat;background-position: center bottom;background-size: cover;}
.bx-wrapper .bx-next:hover{background-position: 0 0;}
.bx-wrapper .bx-pager{text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #fff;position: absolute;bottom: 25px;}
.bx-wrapper .bx-viewport{-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;border: 0;left: 0;background: 0;top: 0px;}
.bx-wrapper .bx-controls-direction a{position: absolute;top: 50%;margin-top: -28px;outline: 0;width: 32px;height: 56px;text-indent: -9999px;z-index: 20;}
.bx-wrapper .bx-pager.bx-default-pager a{background: #fff;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{background: #fc6621;}


.index-box2{background:#f3f3f3;padding-bottom: 80px;}
.index-box2 .recommend-title h5{color:#a6a6a6}
.index-box2 .tt{text-align: center;margin-bottom: 30px;}
.index-box2 .img-seats{margin: 20px auto 0;width:1200px;font-size:0;padding-bottom: 92px;}
.index-box2 .img-seat{display:inline-block;width: 381px;height:381px;position:relative;margin-right: 28px;}
.index-box2 .img-seat.mr0{margin-right: 0}
.index-box2 .img-seat div{position:absolute;bottom: -43px;left:50%;width: 350px;height: 86px;background: #fff;z-index: 20;margin-left: -176px;border: 1px solid #e3e3e3;}
.index-box2 .img-seat div h3{color:#6b6b6b;font-size: 24px;text-align: center;margin-top: 20px;font-weight: 400;margin-bottom: 3px;}
.index-box2 .img-seat div p{color:#999;font-size: 12px;text-align: center;font-weight: 600;letter-spacing: 1px;}

.index-box3{background:#fff;}

.index-box4{
    height:459px;
    width:100%;
    background:url(../img/index1_bg5.jpg) no-repeat #fff 0 0;
}
.index-box4 .wrap{padding-top:62px}
.index-box4 .info-box{width: 571px;padding-left: 275px;padding-right: 20px;background:url(../img/index1_bg5_c.jpg) no-repeat #fff 0 0;margin: auto;height: 310px;padding-top: 20px;padding-bottom: 20px;}
.index-box4 .info-box h2{font-size:26px;color:#4a4a4a}
.index-box4 .info-box p{font-size:14px;color:#a6a6a6}
.index-box4 .info-box p{font-size:14px;color:#a6a6a6}
.index-box4 .info-box p{font-size:14px;color:#a6a6a6}
.index-box4 .intro-ask{margin-top:30px;border-top:1px dashed #e5e5e5}
.index-box4 .intro-ask li{height:34px;line-height:34px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;border-bottom:1px dashed #e5e5e5;font-size: 14px;}
.index-box4 .intro-ask li a{color:#777;cursor: pointer;}
.index-box4 .intro-ask li a:hover{color:#fc6621}
.index-box4 .more-info-box{margin-top:20px;text-align:right;margin-bottom:15px;}
.index-box4 .more-info{background:#c9c9c9;color:#fff;display:inline-block;text-align:center;line-height: 27px;height: 27px;padding:0 30px;cursor: pointer;}

.index-box5 .recommend-title h1{margin-bottom:0}
.index-box5 .wrap{border-top:1px solid #dddfde;border-bottom:1px solid #dddfde;}
.index-box5 .wrap.mt40{margin-top:40px;}
.index-box5 .hr{height: 360px;overflow: hidden;}
.index-box5 .hr .fl,.index-box5 .hr .fr{width:50%}
.index-box5 .hr h2{color:#cbae50;font-size:20px;text-align:center;margin-top: 58px;margin-bottom:15px}
.index-box5 .hr hr{width:67px;display:block;height:2px;background:#dddfde;margin:0 auto 34px;border:0}
.index-box5 .hr p{text-align: center;font-size:14px;color:#777;line-height:26px;}


.index-box6 .recommend-title h1{margin-bottom:0}
.index-box6 .wrap{width: 1096px;}
.index-box6 ul{font-size: 0;width: 1200px;margin: 0 auto 40px}
.index-box6 ul li{margin-bottom: 20px;display:inline-block;width:328px;height:300px;box-sizing:border-box;position: relative;margin-right: 52px;}
.index-box6 ul li:nth-child(3n+3){margin-right: 0}
.index-box6 ul li div.img-show{width:100%;height:189px;background-repeat: no-repeat;background-position: center center;}
.index-box6 ul li h4{font-size:14px;color:#4a4a4a;margin-top: 15px;margin-bottom: 4px;}
.index-box6 ul li h6{font-size:12px;color:#999;margin-bottom:16px;font-weight:400}
.index-box6 ul li p{font-size:12px;color:#999;line-height:22px;height:44px;overflow: hidden}



.index-box7{background:#f3f3f3;padding:35px 0 30px}
.index-box7 ul{font-size: 0;width: 1200px;margin: 0 auto}
.index-box7 ul li{display:inline-block;width:300px;box-sizing:border-box;height:72px;position: relative;}
.index-box7 ul li h1{font-size: 50px;text-align: center;color:#4a4a4a;}
.index-box7 ul li h1 span{margin-left:8px;font-size:16px;color:#999;margin-bottom: 16px}
.index-box7 ul li p{font-size:16px;color:#999;text-align: center;}
.index-box7 ul li .pipe-fr{position: absolute;top: 23px;margin-bottom:8px;height:59px;width:1px;background:#dddfde;right: 1px;}

.web-help{position:fixed;bottom:20px;right:50%;margin-right:-657px;z-index:100}
.web-help ul{width:42px;}
.web-help ul li{width:42px;height:42px;border: 1px solid #f2f2f2;background:#fff;text-align: center;cursor:pointer}
.web-help ul li:hover{border:1px solid #fd9271;background:#fd9271}
.web-help ul li .iconfont{    font-family: "iconfont" !important;
    font-size: 28px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -17px;
    color: #999;}
.web-help ul li .iconfont.chat{vertical-align: -14px;}
.web-help ul li .iconfont.phone{margin-left: 3px;}
.web-help ul li:hover .iconfont{color:#fff;}

.news-wrap{background:#f5f5f5;padding-top:50px;padding-bottom:40px;}

.bread-crumb{margin-bottom: 50px;font-size:14px;color:#999}
.bread-crumb a{cursor:pointer}
.bread-crumb .item{color:#4a4a4a;}
.bread-crumb .active{color:#fd9271;cursor:pointer}

.news-box{min-height:750px;width:100%;position:relative}
.news-box-left{width:941px;}
.news-box-left-article{width:901px;background:#fff;padding:33px 20px 20px;}
.article-title{font-size:26px;color:#4a4a4a;text-align:center;height:42px;line-height:42px;margin-bottom:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.article-title-date{font-size:14px;color:#999;text-align:center;margin-bottom:40px; }
##contentFORM *,#tipsFORM *{
    word-wrap: break-word;
}
#contentFORM p,#contentFORM p>span,#tipsFORM,#tipsFORM p>span{
    color: #999;
    line-height: 1.66;
    font-size: 14px;
}
#tipsFORM{
    color:#4a4a4a
}
#tipsFORM li{
    list-style-position: outside;
    list-style: inherit;
    margin-left: 21px;
}
#tipsFORM  p>span{
    color:#4a4a4a
}
#contentFORM strong{
    font-weight: 700;
    color: #999;
}
#contentFORM p strong span{
    margin-bottom: 20px;display: block;
}
#contentFORM pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.news-detail-box1{
    padding-left:242px;
    padding-right:40px;
    background:#fff;
    margin-bottom:20px;
    height: 273px;
}
.news-detail-box1 dt{
    margin-left:-242px;
    float:left;
    width: 242px;
    margin-right: 50px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.news-detail-box1 dd h2{color:#4a4a4a;font-size:20px;padding-top: 85px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.news-detail-box1 dd p{font-size:14px;color:#999;overflow: hidden;line-height: 27px;
    word-wrap: break-word;}

.news-detail-box2{
    padding:20px 30px 62px 23px;
    background:#fff;
    margin-bottom:20px;
}
.news-detail-box2 h1.title{
    margin-left:-8px;
    border-left:3px solid #fd9271;
    font-weight:400;
    padding-left:10px;
    line-height: 20px;
    color:#4a4a4a;font-size:20px;
    margin-bottom:42px;
}

.news-list li{padding:15px 46px 15px 247px;background:#fff;margin-bottom:15px;}
.news-list li .pic-show{display: block;float:left;margin-left: -226px;width:200px;height: 130px;background-repeat:no-repeat;background-position: center center;background-size: contain;border:1px solid #eee}
.news-list li .text-info{display: block;}
.news-list li .text-info h2{line-height: 65px;font-size:16px;color:#4a4a4a;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.news-list li .text-info p{font-size:12px;color:#a4a2a2;overflow: hidden;line-height: 27px;}
.news-box-right{position:absolute;right:0;top:0;width: 241px;}
.news-erweima{width: 151px;height:204px;margin-bottom: 20px;padding: 19px 45px 19px;background:#fff}
.news-erweima p{color:#4a4a4a;font-size:20px;text-align: center;margin-bottom:12px}
.news-erweima .tt{text-align: center}
.news-erweima h5{color:#c6c6c6;font-size:14px;text-align: center;margin-top: 7px;}
.news-repairform{margin-bottom:20px;width: 203px;padding:21px 19px 9px;background:#fff;}
.news-repairform h3{color:#4a4a4a;font-size:20px;text-align:center;margin-bottom:14px;}
.news-index-submit{
    font-family: microsoft yahei;
    width:205px;
    outline:0;
    height: 43px;
    font-size: 16px;
    line-height:43px;
    vertical-align: top;
    border-radius:4px;
    border: 0;
    color: #fff;
    background:#fd9271;
    text-align: center;
    display: block;
    cursor: pointer;
    margin-bottom:15px;
}
.news-city-select{font-family: microsoft yahei;width: 205px;
    height: 45px;font-size: 16px;line-height: 45px;vertical-align:0px;text-align: right;border: 0;border-radius:1px;color:#333;padding:0px 35px 0px 10px;padding:5px 4px 5px 10px \0;padding:5px 10px 5px 10px \9;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../img/index_icon_down.png) 95% 50% no-repeat #f0f0f0;background-image:none \0;background-image:none \9;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transition:border-color ease-in-out .15s;-o-transition:border-color ease-in-out .15s;transition:border-color ease-in-out .15s;border-radius:4px;}
.news-type-select{margin-top:15px;font-family: microsoft yahei;width:205px;height: 45px;font-size: 16px;line-height: 45px;vertical-align:0px;text-align: right;border: 0;border-radius:1px;color:#333;padding:0px 35px 0px 10px;padding:5px 4px 5px 10px \0;padding:5px 10px 5px 10px \9;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../img/index_icon_down.png) 95% 50% no-repeat #f0f0f0;background-image:none \0;background-image:none \9;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transition:border-color ease-in-out .15s;-o-transition:border-color ease-in-out .15s;transition:border-color ease-in-out .15s;border-radius:4px;}
.news-tel-input{margin-top:15px;margin-bottom:15px;font-family: microsoft yahei;background:#f0f0f0;outline:0;width:205px;height:43px;font-size: 16px;line-height: 43px;vertical-align:0px;border-radius:4px;border: 0;text-indent: 11px;}

.news-server{width:241px;height:44px;background:#fff;padding:19px 0}
.news-server h5{text-align:center;color:#bababa;height:16px;font-size:14px;margin-bottom:6px;}
.news-server p{text-align:center;color:#fd9271;font-size:24px;line-height:30px;}




.zk-pagination-right{position:relative;min-height:20px;}
.zk-pagination{margin-top: 50px; margin-bottom: 50px; text-align: center;position:relative}
.zk-pagination-right .zk-pagination{margin-top: 20px;margin-bottom:30px;text-align:right;position:relative;}
.zk-pagination > li{display: inline-block; margin-left: 1px; font-size: 12px; cursor: pointer;}
.zk-pagination form{display: none;}
.zk-pagination > li.disabled a{cursor: not-allowed;}
.zk-pagination > li.disabled a:hover{background: none; color: #a9a9a9;}
.zk-pagination > li.btn-opera{margin-left: 0;}
.zk-pagination > li.btn-opera a{background: #fff; color: #a9a9a9;}
.zk-pagination > li > a,
.zk-pagination > li > span{float: none; margin-left: 0; border: 0; display: block; color: #a9a9a9; font-weight: 400; border-radius: 2px;  padding: 4px 10px; margin-right: 10px; font-size: 15px;background: #fff;}
.zk-pagination > li:first-child > a,
.zk-pagination > li:first-child > span,
.zk-pagination-lg > li:first-child > a,
.zk-pagination-lg > li:first-child > span,
.zk-pagination-sm > li:first-child > a,
.zk-pagination-sm > li:first-child > span,
.zk-pagination > li:last-child > a,
.zk-pagination > li:last-child > span,
.zk-pagination-lg > li:last-child > a,
.zk-pagination-lg > li:last-child > span,
.zk-pagination-sm > li:last-child > a,
.zk-pagination-sm > li:last-child > span{border-radius: 2px;}
.zk-pagination > .active > a,
.zk-pagination > .active > span,
.zk-pagination > .active > a:hover,
.zk-pagination > .active > span:hover{background-color:#fd9271; cursor: default; color: #fff;}
.zk-pagination .active.btn-opera{display: none;}